<mat-card>
  <mat-card-header fxLayout="row" class="my-3" fxLayoutAlign="space-between center">
    <mat-card-title fxFill>
      {{ title }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="d-block">
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #inputTableSearch>
    </mat-form-field>

    <div class="list-table-container">
      <table class="list-table" mat-table [dataSource]="dataSource" matSort>
        <!-- expirationDate -->
        <ng-container matColumnDef="expirationDate">
          <th mat-header-cell *matHeaderCellDef class="px-3" mat-sort-header> Data de expiración </th>
          <td mat-cell *matCellDef="let element" class="px-3" [ngStyle]="{ 'color': 'inherit' }">{{ element.expirationDate }} </td>
        </ng-container>

        <!-- title -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="px-3" mat-sort-header> Titulo </th>
          <td mat-cell *matCellDef="let element" class="px-3" [ngStyle]="{ 'color': 'inherit' }">{{ element.title}} </td>
        </ng-container>

        <!-- message -->
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef class="px-3" mat-sort-header> Mensaxe </th>
          <td mat-cell *matCellDef="let element" class="px-3" [ngStyle]="{ 'color': 'inherit' }">{{ element.message }} </td>
        </ng-container>

        <!-- createdBy -->
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef class="px-3" mat-sort-header> Remitente </th>
          <td mat-cell *matCellDef="let element" class="px-3" [ngStyle]="{ 'color': 'inherit' }">{{ getUser(element) }} </td>
        </ng-container>

        <!-- visibleToUserGroups -->
        <ng-container matColumnDef="visibleToUserGroups">
          <th mat-header-cell *matHeaderCellDef class="px-3" mat-sort-header> Grupos de destino </th>
          <td mat-cell *matCellDef="let element" class="px-3" [ngStyle]="{ 'color': 'inherit' }">{{ getUserGroup(element) }} </td>
        </ng-container>

        <!-- Propiedades da táboa -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="returnCommentApp(row)"
          [ngClass]="{ hovered: row.hovered }" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
        </tr>

        <!-- Se non hai datos -->
        <tr mat-row *matNoDataRow>
          <td mat-cell colspan="9">Sen datas</td>
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
